@import './base.css';


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "chats chat-container chat-container chat-container"
        "chats chat-container chat-container chat-container"
        "chats chat-container chat-container chat-container"
        "chats chat-container chat-container chat-container"
        "chats inputs inputs inputs";
    height: 100vh;
}

.chats {
    grid-area: chats;
    overflow-y: scroll;
    background-color: #77B5FE;
    border-right: 2px solid #333;;
    
}

.inputs {
    grid-area: inputs;
    background-color: #ddd;
}

.chat-container {
    grid-area: chat-container;
    overflow-y: scroll;
    background-color: #4682BF;
    color: var(--vt-c-white-soft);
    padding: 2%;
}


.input-area {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 15px/1 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    background-color: #ddd;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box; 
}

.chatbot-dropdown {
    width: 100%;
    background-color: #ddd;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}